/* Main */
html {
  background-color: #fff;
}

body {    
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: #e5e5e5;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 0 75px 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left block */

.left {
  flex-basis: 50%;
  max-width: 540px;
  min-height: 470px;
  padding-bottom: 26px;
  padding-left: 20px;
  position: relative;
  
  background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  overflow: hidden;
}

.left::before {
    content: "";
    width: 688px;
    height: 688px;
    top: -74px;
    left: 238px;
    position: absolute;
    background: url(../assets/images/big-circle.svg);
}

.left__title {
  padding-top: 28px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
}

.img__outer {
  width: 100%;
  max-width: 398px;
  min-height: 398px;
  background: #428A60;
  border-radius: 50%;
  position: relative;
  top: -5px;
}

.left__img {
  position: absolute;
  left: 37px;
  bottom: 2px;
  z-index: 1;
}

.left__subtitle {
  position: absolute;
  bottom: -12px;
  left: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Right block */

.right {
  flex-basis: 50%;
  max-width: 560px;
  background: #FFFFFF;
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.right__title {
  padding-top: 29px;
  margin: 0;
  padding-bottom: 29px;
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #212121;
  background: #F8F8F8;
}

.right__title-span {
  display: block;
}

/* Form */

.right__form {
  padding-left: 117px;
  padding-top: 52px;
}

.label {
  display: block;
  font-weight: 800;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;

  span {
    color: #428A60;
  }
}

.input {
  width: 100%;
  max-width: 314px;
  min-height: 47px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #F8F8F8;
  border: 1px solid #E4E4E4;
  outline: none;  
}

.input::placeholder {
  padding-left: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #212121;
  opacity: 0.2;
}

.input:focus {
  border: 1px solid #428A60;
}

.input-phone {
  width: 100%;
  max-width: 178px;
  margin-right: 16px;
}

/* Select */

.select-wrapper {
  display: inline-block;
  position: relative;
  width: 116px;
  margin-bottom: 39px;
}

.select {
  width: 100%;
  max-width: 116px;
  height: 50px;
  padding: 0 20px 0 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  background: url(../assets/images/flag-ru.png) no-repeat center right 35px;
  background-color: #F8F8F8;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
  cursor: pointer; 
  outline: 0;
}

.select-arrow {
  position: absolute;
  border: 6px solid transparent; 
  border-bottom: 0;
  right: 17px; 
  cursor: pointer; 
}

.select-arrow:nth-child(1) {
  top: 23px;
  border-top-color: #212121;
}

.select-arrow:nth-child(2) {
  top: 20px;
  border-top-color: #FFF;
}

.select:focus {
  border: 1px solid #428A60;
}

/* Button */

.btn {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 12px 0;
  padding-right: 27px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #428A60;
  border: none;
  cursor: pointer;
}

.btn::after {
  content: "";
  position: absolute;
  top: 29%;
  right: 33%;
  width: 35px;
  height: 15px;
  z-index: 1;
  background: url("../assets/images/arrow.png") no-repeat center;
}

.footer {
  display: none;
}

.footer__text {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #212121;
}

/* Media breakpoints */

@media (max-width: 1120px) {

  .left {
    flex: 100%;
  }

  .right {
    flex: 100%;
  }

  .right__form {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {

  html {
    background-color: #e5e5e5;
  }

  body {
    background-color: #f8f8f8;
  }

  .container {
    background-color: #fff;
    max-width: 300px;
    padding: 10px 0;
  }
  
  .left {
    background: #fff;
    width: 100%;
    min-height: 234px;
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
  }

  .img__outer {
    max-width: 202px;
    min-height: 202px;
    left: 58px;
  }

  .left__img {
    transform: scale(.48);
    left: -125px;
    bottom: -36px;
  }

  .left__title {
    color: #212121;
    padding-top: 29px;
    padding-left: 18px;
  }

  .left__subtitle {
    top: -45px;
    left: 200px;
    color: #212121;
  }

  .right {
    padding-bottom: 28px;
    background-color: #fff;
  }

  .right__title {
    padding-top: 33px;
    padding-left: 18px;
    background-color: #fff;
  }

  .right__title-span {
    display: inline;
  }

  .right__form {
    padding: 0;
    padding-left: 18px;
    margin-bottom: 0;
  }

  .input {
    width: 100%;
    max-width: 274px;
  }

  .input::placeholder {
    padding-left: 9px;
  }

  .input-phone {
    max-width: 168px;
    margin-right: 5px;
  }

  .select-wrapper {
    max-width: 96px;
    margin-bottom: 28px;
  }

  .select {
    padding-left: 10px;
    background-position: center right 26px;
  }

  .select-arrow {
    right: 8px;
  }

  .btn {
    max-width: 280px;
    padding-left: 4px;
  }

  .btn::after {
    right: 30%;
  }

  .footer {
    width: 180px;
    height: 30px;
    display: block;
  }

  .footer__text {
    width: 56px;
  }

  .footer__text:first-child {
    padding-left: 19px;
  }

  .footer__img {
    display: inline-block;
    padding-left: 15px;
  }

  .footer__text:last-child {
    padding-left: 11px;
  }
}

