//Variables

// Colors
$white: #fff;
$whisper: #e5e5e5;
$platinum: #e4e4e4;
$white-smoke: #f8f8f8;
$nero: #212121;
$viridian: #428a60;
$amazon: #35734f;

// Font
$montserrat: 'Montserrat', sans-serif;
$main-fz: 18px;
$small-fz: 14px;
$extra-small-fz: 12px;
$big-fz: 30px;
$main-lh: 130%;


/* Main */
html {
  background-color: $white;
}

body {    
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: $whisper;
  box-sizing: border-box;

  font-family: $montserrat;
  font-size: $main-fz;
  
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 0 75px 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left block */

.left {
  flex-basis: 50%;
  max-width: 540px;
  min-height: 470px;
  padding-bottom: 26px;
  padding-left: 20px;
  position: relative;  
  background: linear-gradient(180deg, $viridian 0%, $amazon 100%);
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  overflow: hidden;

  &::before {
    content: "";
    width: 688px;
    height: 688px;
    top: -74px;
    left: 238px;
    position: absolute;
    background: url(../assets/images/big-circle.svg);
  }
}

.left__title {
  padding-top: 28px;
  padding-left: 20px;
  font-weight: 700;
  font-size: $main-fz;
  line-height: $main-lh;
  color: $white;
}

.img__outer {
  width: 100%;
  max-width: 398px;
  min-height: 398px;
  background: $viridian;
  border-radius: 50%;
  position: relative;
  top: -5px;
}

.left__img {
  position: absolute;
  left: 37px;
  bottom: 2px;
  z-index: 1;
}

.left__subtitle {
  position: absolute;
  bottom: -12px;
  left: 20px;

  font-weight: 700;
  font-size: $main-fz;
  line-height: $main-lh;
  text-transform: uppercase;
  color: $white;
}

/* Right block */

.right {
  flex-basis: 50%;
  max-width: 560px;
  background: $white;
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.right__title {
  padding-top: 29px;
  margin: 0;
  padding-bottom: 29px;
  font-weight: 800;
  font-size: $big-fz;
  line-height: $main-lh;
  text-align: center;
  color: $nero;
  background: $white-smoke;
}

.right__title-span {
  display: block;
}

/* Form */

.right__form {
  padding-left: 117px;
  padding-top: 52px;
}

.label {
  display: block;
  font-weight: 800;
  font-size: $extra-small-fz;
  line-height: $main-lh;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $nero;
  margin-bottom: 10px;

  span {
    color: $viridian;
  }
}

.input {
  width: 100%;
  max-width: 314px;
  min-height: 47px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: $white-smoke;
  border: 1px solid $platinum;
  outline: none;

  &::placeholder {
    padding-left: 18px;
    font-family: $montserrat;
    font-weight: 600;
    font-size: $small-fz;
    line-height: $main-lh;
    color: $nero;
    opacity: 0.2;
  }

  &:focus {
    border: 1px solid $viridian;
  }
}

.input-phone {
  width: 100%;
  max-width: 178px;
  margin-right: 16px;
}

/* Select */

.select-wrapper {
  display: inline-block;
  position: relative;
  width: 116px;
  margin-bottom: 39px;
}

.select {
  width: 100%;
  max-width: 116px;
  height: 50px;
  padding: 0 20px 0 19px;
  font-weight: 600;
  font-size: $small-fz;
  line-height: $main-lh;
  text-align: center;
  text-transform: uppercase;
  color: $nero;
  background: url(../assets/images/flag-ru.png) no-repeat center right 35px;
  background-color: $white-smoke;
  border: 1px solid $platinum;
  border-radius: 5px;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
  cursor: pointer; 
  outline: 0;
}

.select-arrow {
  position: absolute;
  border: 6px solid transparent; 
  border-bottom: 0;
  right: 17px; 
  cursor: pointer; 

  &:nth-child(1) {
    top: 23px;
    border-top-color: $nero;
  }

  &:nth-child(2) {
    top: 20px;
    border-top-color: $white;
  }

  &:focus {
    border: 1px solid $viridian;
  }
}

/* Button */

.btn {
  position: relative;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 12px 0;
  padding-right: 27px;
  font-family: $montserrat;
  font-weight: 600;
  font-size: $small-fz;
  line-height: $main-lh;
  text-align: center;
  color: $white;
  border-radius: 5px;
  background-color: $viridian;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 29%;
    right: 33%;
    width: 35px;
    height: 15px;
    z-index: 1;
    background: url("../assets/images/arrow.png") no-repeat center;
  }
}

.footer {
  display: none;
}

.footer__text {
  display: inline-block;
  font-weight: 700;
  font-size: $small-fz;
  line-height: $main-lh;
  text-align: center;
  color: $nero;
}

/* Media breakpoints */

@media (max-width: 1120px) {

  .left {
    flex: 100%;
  }

  .right {
    flex: 100%;
  }

  .right__form {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {

  html {
    background-color: $whisper;
  }

  body {
    background-color: $white-smoke;
  }

  .container {
    background-color: $white;
    max-width: 300px;
    padding: 10px 0;
  }
  
  .left {
    background: $white;
    width: 100%;
    min-height: 234px;
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
  }

  .img__outer {
    max-width: 202px;
    min-height: 202px;
    left: 58px;
  }

  .left__img {
    transform: scale(.48);
    left: -125px;
    bottom: -36px;
  }

  .left__title {
    color: $nero;
    padding-top: 29px;
    padding-left: 18px;
  }

  .left__subtitle {
    top: -45px;
    left: 200px;
    color: $nero;
  }

  .right {
    padding-bottom: 28px;
    background-color: $white;
  }

  .right__title {
    padding-top: 33px;
    padding-left: 18px;
    background-color: $white;    
  }

  .right__title-span {
    display: inline;
  }  

  .right__form {
    padding: 0;
    padding-left: 18px;
    margin-bottom: 0;
  }

  .input {
    width: 100%;
    max-width: 274px;

    &::placeholder {
      padding-left: 9px;
    }
  }

  .input-phone {
    max-width: 168px;
    margin-right: 5px;
  }

  .select-wrapper {
    max-width: 96px;
    margin-bottom: 28px;
  }

  .select {
    padding-left: 10px;
    background-position: center right 26px;
  }

  .select-arrow {
    right: 8px;
  }

  .btn {
    max-width: 280px;
    padding-left: 4px;

    &::after {
      right: 30%;
    }
  }

  .footer {
    width: 180px;
    height: 30px;
    display: block;
  }

  .footer__text {
    width: 56px;

    &:first-child {
      padding-left: 19px;
    }

    &:last-child {
      padding-left: 11px;
    }
  }
  
  .footer__img {
    display: inline-block;
    padding-left: 15px;
  }
}

